/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
  opacity: 0;
  transition: .05s;
  position: absolute;
}

#closed-captions .on {
  opacity: 1;
}

#closed-captions .off {
  transition: .2s;
  opacity: 0;
}

/* **********************************************
The first paragraph, with extended timing for
	all siblings. Basically what it does is that
	it shows the text after a delay, which
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
/*************** Document page *****************/
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/************************************************/
/******************* Iframe *********************/

div div img {
  opacity: 0;
}

.wrapper {
  position: absolute;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: 3%;
  left: 0;
  right: 0;
  z-index: 2;
}

.h_iframe {
  position: relative;
}

.h_iframe .ratio {
  display: block;
  width: 100%;
  height: auto;
}

.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/************************************************/
/******************* vs *********************/

.vs {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bad {
  height: 100vh;
  background-image: linear-gradient(to left, red, black);
  flex-basis: 50vw;
  transition: flex-basis 500ms ease-in-out;
}

.good {
  height: 100vh;
  background-image: linear-gradient(to right, blue, black);
  flex-basis: 50vw;
  transition: flex-basis 500ms ease-in-out;
}

.badon {
  flex-basis: 60vw;
  transition: flex-basis 500ms ease-in-out;
}

.goodoff {
  flex-basis: 40vw;
  transition: flex-basis 500ms ease-in-out;
}

.badoff {
  flex-basis: 40vw;
  transition: flex-basis 500ms ease-in-out;
}

.goodon {
  flex-basis: 60vw;
  transition: flex-basis 500ms ease-in-out;
}

/************************************************/
/******************* Sounds *********************/

.sound0 iframe{
transform: scale(2,1);
}

.sound1 iframe{
transform: none;
}

/************************************************/
/**************** Close Captions ****************/

.smeagol {
  margin-top: -80px;
  Color: white;
  font-family: brenner sans;
  left: 50vw;
}

.gollum {
  margin-top: -80px;
  color: white;
  font-family: brenner serif;
  left: 10vw;
}

/* We wantsss it. */
.p0 span:first-of-type {
  font-weight: 100;
  font-size: 1em;
}

.p0 span:nth-of-type(2) {
  font-weight: 100;
  font-size: 1em;
}

.p0 span:nth-of-type(3) {
  font-weight: 100;
  font-size: 1em;
}

/* We needsss it. */
.p1 span:first-of-type {
  font-weight: 200;
  font-size: 1.5em;
}

.p1 span:nth-of-type(2) {
  font-weight: 200;
  font-size: 1.5em;
}

.p1 span:nth-of-type(3) {
  font-weight: 200;
  font-size: 1.5em;
}

/* Must have the preciousss. */
.p2 span {
  opacity: 0;
}

.p2.on span:first-of-type {
  opacity: 1;
  transition: 0s;
  font-weight: 800;
  font-size: 2em;
}

.p2.on span:nth-of-type(2) {
  opacity: 1;
  transition: 0s .9s;
  font-weight: 600;
  font-size: 1.8em;
}

.p2.on span:nth-of-type(3) {
  opacity: 1;
  transition: 0s .9s;
  font-weight: 200;
  font-size: 1.6em;
}

.p2.on span:nth-of-type(4) {
  opacity: 1;
  transition: 0s .9s;
  font-weight: 200;
  font-size: 1.6em;
}

/* They stole it from uss. */
.p3 span:first-of-type {
  font-weight: 500;
  font-size: 2em;
}

.p3 span:nth-of-type(2) {
  font-weight: 600;
  font-size: 2em;
}

.p3 span:nth-of-type(3) {
  font-weight: 500;
  font-size: 2em;
}

.p3 span:nth-of-type(4) {
  font-weight: 300;
  font-size: 1.4em;
}

.p3 span:nth-of-type(5) {
  font-weight: 300;
  font-size: 1.4em;
}

/* Sneakyy littlee Hobbitsess. */
.p4 span:first-of-type {
  font-weight: 500;
  font-size: 1.6em;
}

.p4 span:nth-of-type(2) {
  font-weight: 300;
  font-size: 1em;
}

.p4 span:nth-of-type(3) {
  font-weight: 300;
  font-size: 1.8em;
}

/* Wicked! Tricksy, Falseee */
.p5 span {
  opacity: 0;
}

.p5.on span:first-of-type {
  opacity: 1;
  transition: 0s;
  font-size: 1.4em;
}

.p5.on span:nth-of-type(2) {
  opacity: 1;
  transition: 0s .6s;
  font-size: 1.8em;
}

.p5.on span:nth-of-type(3) {
  opacity: 1;
  transition: 0s .9s;
  text-transform: uppercase;
  font-size: 2.2em;
}

/* No? Not master. */
.p6 span {
  opacity: 0;
}

.p6.on span:first-of-type {
  opacity: 1;
  transition: 0s;
  font-weight: 200;
  font-size: 1.2em;
  font-family: "brenner Sans condensed";
}

.p6.on span:nth-of-type(2) {
  opacity: 1;
  transition: 0s .8s;
  font-weight: 500;
  font-size: 1.6em;
}

.p6.on span:nth-of-type(3) {
  opacity: 1;
  transition: 0s .8s;
  font-weight: 500;
  font-size: 1.6em;
}

/* Yesss, preciousss. */
.p7 span:first-of-type {
  font-weight: 600;
  font-size: 2em;
}

.p7 span:nth-of-type(2) {
  font-weight: 400;
  font-size: 1.8em;
}

/* Falseee! */
.p8 span:first-of-type {
  text-transform: uppercase;
  font-size: 3em;
}

/* They will cheat youu, hurt youu, Lie! */
.p9 span {
  opacity: 0;
}

.p9 span:first-of-type {
  opacity: 1;
  font-weight: 300;
  font-size: 1.4em;
}

.p9 span:nth-of-type(2) {
  opacity: 1;
  font-weight: 300;
  font-size: 1.4em;
}

.p9.on span:nth-of-type(3) {
  opacity: 1;
  transition: 0s .6s;
  font-weight: 500;
  font-size: 1.6em;
}

.p9.on span:nth-of-type(4) {
  opacity: 1;
  transition: 0s .6s;
  font-weight: 500;
  font-size: 1.6em;
}

.p9.on span:nth-of-type(5) {
  opacity: 1;
  transition: 0s .9s;
  font-weight: 600;
  font-size: 1.8em;
}

.p9.on span:nth-of-type(6) {
  opacity: 1;
  transition: 0s .9s;
  font-weight: 600;
  font-size: 1.8em;
}

.p9.on span:nth-of-type(7) {
  opacity: 1;
  transition: 0s .9s;
  font-weight: 600;
  font-size: 2.2em;
}

/* Master's my friend. */
.p10 span:first-of-type {
  font-weight: 100;
  font-size: 1.4em;
}

.p10 span:nth-of-type(2) {
  font-weight: 100;
  font-size: 1.4em;
}

.p10 span:nth-of-type(3) {
  font-weight: 100;
  font-size: 1.4em;
}

/* You don't have any friendsss. */
.p11 span:first-of-type {
  font-weight: 300;
  font-size: 1.6em;
}

.p11 span:nth-of-type(2) {
  font-weight: 600;
  font-size: 2em;
}

.p11 span:nth-of-type(3) {
  font-weight: 300;
  font-size: 1.6em;
}

.p11 span:nth-of-type(4) {
  font-weight: 300;
  font-size: 1.6em;
}

.p11 span:nth-of-type(5) {
  font-weight: 300;
  font-size: 1.6em;
}

/* Nobody likesss you. */
.p12 span:first-of-type {
  font-weight: 300;
  font-size: 2em;
}

.p12 span:nth-of-type(2) {
  font-weight: 300;
  font-size: 1.8em;
}

.p12 span:nth-of-type(3) {
  font-weight: 300;
  font-size: 1.5em;
}

/* Not listening. */
.p13 span:first-of-type {
  font-weight: 500;
  font-size: 1.4em;
  font-family: "brenner mono";
}

.p13 span:nth-of-type(2) {
  font-weight: 300;
  font-size: 1.4em;
}

/* I'm not listening. */
.p14 span:first-of-type {
  font-weight: 300;
  font-size: 1.4em;
}

.p14 span:nth-of-type(2) {
  font-weight: 500;
  font-size: 1.4em;
  font-family: "brenner mono";
}

.p14 span:nth-of-type(3) {
  font-weight: 300;
  font-size: 1.4em;
}

/* You're a liarr and a thiefff. */
.p15 span:first-of-type {
  font-weight: 300;
  font-size: 1.6em;
}

.p15 span:nth-of-type(2) {
  font-weight: 300;
  font-size: 1.6em;
}

.p15 span:nth-of-type(3) {
  font-weight: bold;
  font-size: 1.9em;
}

.p15 span:nth-of-type(4) {
  font-weight: 500;
  font-size: 1.6em;
}

.p15 span:nth-of-type(5) {
  font-weight: 500;
  font-size: 1.6em;
}

.p15 span:nth-of-type(6) {
  font-weight: bold;
  font-size: 1.9em;
}

/* no */
.p16 span:first-of-type {
  font-weight: 100;
  font-size: 1.2em;
}

/* Murderer */
.p17 span:first-of-type {
  font-size: 1.8em;
  text-transform: uppercase;
}

/* Go away. */
.p18 span:first-of-type {
  font-weight: 200;
  font-size: 1em;
  font-family: "brenner Sans condensed";
}

.p18 span:nth-of-type(2) {
  font-weight: 200;
  font-size: 1em;
  font-family: "brenner Sans condensed";
}

/* Go awayy? */
.p19 span:first-of-type {
  font-weight: 300;
  font-size: 1.8em;
}

.p19 span:nth-of-type(2) {
  font-weight: 300;
  font-size: 1.6em;
}

/* [evil laughs gahaha] */
.p20 span:first-of-type {
  font-size: 1.6em;
  text-transform: uppercase;
}

.p20 span:nth-of-type(2) {
	font-size: 1.6em;
  text-transform: uppercase;
}

.p20 span:nth-of-type(3) {
	font-size: 1.6em;
  text-transform: uppercase;
}

/* I hate you. */
.p21 span:first-of-type {
  font-weight: 100;
  font-size: 1.2em;
}

.p21 span:nth-of-type(2) {
  font-weight: 300;
  font-size: 1.2em;
}

.p21 span:nth-of-type(3) {
  font-weight: 100;
  font-size: 1.2em;
}

/* I hate you. */
.p22 span:first-of-type {
  font-weight: 100;
  font-size: 1.3em;
}

.p22 span:nth-of-type(2) {
  font-weight: 300;
  font-size: 1.3em;
}

.p22 span:nth-of-type(3) {
  font-weight: 100;
  font-size: 1.3em;
}

/* Where would you be without me? */
.p23 span:first-of-type {
	font-weight: 400;
  font-size: 2em;
}

.p23 span:nth-of-type(2) {
	font-size: 1.4em;
}

.p23 span:nth-of-type(3) {
	font-size: 1.4em;
}

.p23 span:nth-of-type(4) {
  font-weight: 400;
	font-size: 2em;
}

.p23 span:nth-of-type(5) {
	font-size: 1.4em;
}

.p23 span:nth-of-type(6) {
	font-weight: 400;
	font-size: 2em;
}

/* Gollum! */
.p24 span:first-of-type {
  font-size: 2.5em;
  text-transform: uppercase;
}

/* Gollum! */
.p25 span:first-of-type {
  font-size: 4em;
  text-transform: uppercase;
}

/* I saved usss. */
.p26 span:first-of-type {
	font-weight: 400;
  font-size: 1.8em;
}

.p26 span:nth-of-type(2) {
	font-size: 1.4em;
}

.p26 span:nth-of-type(3) {
	font-weight: 400;
	font-size: 1.4em;
}

/* It was me. */
.p27 span:first-of-type {
	font-weight: 400;
  font-size: 1.8em;
}

.p27 span:nth-of-type(2) {
	font-size: 1.4em;
}

.p27 span:nth-of-type(3) {
	font-weight: 400;
	font-size: 1.8em ;
}

/* We survived because of me! */
.p28 span:first-of-type {
	font-weight: 600;
  font-size: 2em;
}

.p28 span:nth-of-type(2) {
	font-weight: 600;
	font-size: 2em;
}

.p28 span:nth-of-type(3) {
	font-weight: 400;
	font-size: 1.6em;
}

.p28 span:nth-of-type(4) {
	font-weight: 500;
	font-size: 1.8em;
}

.p28 span:nth-of-type(5) {
	font-weight: 600;
	font-size: 2em;
}

/* Not anymore. */
.p29 span {
  opacity: 0;
}

.p29.on span:first-of-type {
  opacity: 1;
	transition: 0s;
  font-weight: 500;
  font-size: 1.8em;
}

.p29.on span:nth-of-type(2) {
  opacity: 1;
	transition: 0s .8s;
  font-weight: 300;
  font-size: 1.2em;
}

/* What did you say? */
.p30 span {
  opacity: 0;
}

.p30.on span:first-of-type {
  opacity: 1;
  transition: 0s .4s;
	font-weight: 600;
  font-size: 1.8em;
}

.p30.on span:nth-of-type(2) {
  opacity: 1;
  transition: 0s .9s;
	font-weight: 300;
	font-size: 1.4em;
}

.p30.on span:nth-of-type(3) {
  opacity: 1;
  transition: 0s .9s;
	font-weight: 300;
	font-size: 1.4em;
}

.p30.on span:nth-of-type(4) {
  opacity: 1;
  transition: 0s .9s;
	font-weight: 300;
	font-size: 1.4em;
}

/* Master looks after us now. */
.p31 span:first-of-type {
  font-weight: 100;
  font-size: 1.4em;
}

.p31 span:nth-of-type(2) {
  font-weight: 100;
  font-size: 1.4em;
}

.p31 span:nth-of-type(3) {
  font-weight: 100;
  font-size: 1.4em;
}

.p31 span:nth-of-type(4) {
  font-weight: 100;
  font-size: 1.4em;
}

.p31 span:nth-of-type(5) {
  font-weight: 100;
  font-size: 1.4em;
}

/* We don't need you. */
.p32 span {
  opacity: 0;
}

.p32.on span:first-of-type {
  opacity: 1;
	transition: 0s;
  font-weight: 300;
  font-size: 1.4em;
}

.p32.on span:nth-of-type(2) {
  opacity: 1;
	transition: 0s .4s;
  font-weight: 800;
  font-size: 1.4em;
}

.p32.on span:nth-of-type(3) {
  opacity: 1;
	transition: 0s .9s;
  font-weight: 500;
  font-size: 1.4em;
}

.p32.on span:nth-of-type(4) {
  opacity: 1;
	transition: 0s .9s;
  font-weight: 300;
  font-size: 1.4em;
}

/* What? */
.p33 span:first-of-type  {
  font-weight: 100;
  font-size: 1.4em;
}

/* Leave now! and never come back. */
.p34 span {
  opacity: 0;
}

.p34.on span:first-of-type {
  opacity: 1;
	transition: 0s;
  font-weight: 300;
  font-size: 1.6em;
}

.p34.on span:nth-of-type(2) {
  opacity: 1;
	transition: 0s;
  font-weight: 500;
  font-size: 1.8em;
}

.p34.on span:nth-of-type(3) {
  opacity: 1;
	transition: 0s .6s;
  font-weight: 300;
  font-size: 1.6em;
}

.p34.on span:nth-of-type(4) {
  opacity: 1;
	transition: 0s .6s;
  font-weight: 500;
  font-size: 1.8em;
}

.p34.on span:nth-of-type(5) {
  opacity: 1;
	transition: 0s .9s;
  font-weight: 300;
  font-size: 1.6em;
}

.p34.on span:nth-of-type(6) {
  opacity: 1;
	transition: 0s .9s;
  font-weight: 800;
  font-size: 2em;
}

/* Nooo. */
.p35 span:first-of-type {
	font-weight: 300;
	font-size: 1.8em;
}

/* Leave now and never come back. */
.p36 span {
  opacity: 0;
}

.p36.on span:first-of-type {
  opacity: 1;
	transition: 0s;
  font-weight: 300;
  font-size: 1.7em;
}

.p36.on span:nth-of-type(2) {
  opacity: 1;
	transition: 0s;
  font-weight: 500;
  font-size: 1.9em;
}

.p36.on span:nth-of-type(3) {
  opacity: 1;
	transition: 0s .6s;
  font-weight: 300;
  font-size: 1.7em;
}

.p36.on span:nth-of-type(4) {
  opacity: 1;
	transition: 0s .6s;
  font-weight: 500;
  font-size: 1.9em;
}

.p36.on span:nth-of-type(5) {
  opacity: 1;
	transition: 0s .9s;
  font-weight: 300;
  font-size: 1.7em;
}

.p36.on span:nth-of-type(6) {
  opacity: 1;
	transition: 0s .9s;
  font-weight: 800;
  font-size: 2.1em;
}

/* [Growls] */
.p37 span:first-of-type {
  font-size: 2em;
  text-transform: uppercase;
}
/* Leave now and never come back! */
.p38 span {
  opacity: 0;
}

.p38.on span:first-of-type {
  opacity: 1;
	transition: 0s;
  font-weight: 300;
  font-size: 2em;
}

.p38.on span:nth-of-type(2) {
  opacity: 1;
	transition: 0s;
  font-weight: 500;
  font-size: 2.2em;
}

.p38.on span:nth-of-type(3) {
  opacity: 1;
	transition: 0s .6s;
  font-weight: 300;
  font-size: 2em;
}

.p38.on span:nth-of-type(4) {
  opacity: 1;
	transition: 0s .6s;
  font-weight: 500;
  font-size: 2.2em;
}

.p38.on span:nth-of-type(5) {
  opacity: 1;
	transition: 0s .9s;
  font-weight: 300;
  font-size: 2em;
}

.p38.on span:nth-of-type(6) {
  opacity: 1;
	transition: 0s .9s;
  font-weight: 600;
  font-size: 4em;
}

/* [unbelievable Silence] */
.p39 span:first-of-type {
	font-weight: 300;
  font-size: 1.6em;
}

.p39 span:nth-of-type(2) {
	font-weight: 300;
  font-size: 1.6em;
}

/* We told him to go away. */
.p40 span:first-of-type {
	font-weight: 300;
  font-size: 1.6em;
}

.p40 span:nth-of-type(2) {
	font-weight: 300;
  font-size: 1.6em;
}

.p40 span:nth-of-type(3) {
	font-weight: 300;
  font-size: 1.6em;
}

.p40 span:nth-of-type(4) {
	font-weight: 300;
  font-size: 1.6em;
}

.p40 span:nth-of-type(5) {
	font-weight: 300;
  font-size: 1.6em;
}

.p40 span:nth-of-type(6) {
	font-weight: 500;
  font-size: 1.6em;
}

/* And away he goes!, preciouss */
.p41 span {
  opacity: 0;
}

.p41.on span:first-of-type {
  opacity: 1;
	transition: 0s;
  font-weight: 300;
  font-size: 1.6em;
}

.p41.on span:nth-of-type(2) {
  opacity: 1;
	transition: 0s;
  font-weight: 300;
  font-size: 1.6em;
}

.p41.on span:nth-of-type(3) {
  opacity: 1;
	transition: 0s;
  font-weight: 300;
  font-size: 1.6em;
}

.p41.on span:nth-of-type(4) {
  opacity: 1;
	transition: 0s .4s;
  font-weight: 400;
  font-size: 1.8em;
}

.p41.on span:nth-of-type(5) {
  opacity: 1;
	transition: 0s .8s;
  font-weight: 500;
  font-size: 2em;
}

/* Gone! Gone! Gone! */
.p42 span {
  opacity: 0;
}

.p42.on span:first-of-type {
  opacity: 1;
	transition: 0s;
  font-weight: 600;
  font-size: 2em;
}

.p42.on span:nth-of-type(2) {
  opacity: 1;
	transition: 0s .4s;
  font-weight: 600;
  font-size: 2.5em;
}

.p42.on span:nth-of-type(3) {
  opacity: 1;
	transition: 0s .8s;
  font-weight: 600;
  font-size: 3em;
}

/* Smeagol is freeeeee! */
.p43 span:first-of-type {
	font-weight: 300;
  font-size: 1.6em;
}

.p43 span:nth-of-type(2) {
	font-weight: 400;
  font-size: 1.8em;
}

.p43 span:nth-of-type(3) {
	font-weight: 500;
  font-size: 2.2em;
}
